* {
  color: @fg;

  all: unset;
  font-size: 14px;
  font-family: "SF Pro Text Regular";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: @bg0;
  margin: 16px;
  padding: 0;
  border-radius: 24px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border: 1px solid @blue;
  border-radius: 24px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 1px solid @red;
  border-radius: 24px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 8px;
  background-color: @bg2;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background-color: @bg2;
  border: 1px solid @blue;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @blue;
  color: @bg0;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @blue;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @blue;
  color: @bg0;
}

.notification.critical progress {
  background-color: @blue;
}

.notification.low progress,
.notification.normal progress {
  background-color: @blue;
}
