* {
  bg0:    #191724;
  bg1:    #1f1d2e;
  bg2:    #1f1d2e;
  bg3:    #26233a;
  bg4:    #26233a;

  fg:     #e0def4;

  red:    #eb6f92;
  orange: #ebbcba;
  yellow: #f6c177;
  green:  #9ccfd8;
  aqua:   #9ccfd8;
  blue:   #31748f;
  purple: #c4a7e7;
  pink:   #c4a7e7;

  grey0:  #6e6a86;
  grey1:  #908caa;
  grey2:  #908caa;

  background: @bg0;
  foreground: @fg;
  lightbg: @bg2;
  lightfg: @fg;
  normal-background: @bg0;
  normal-foreground: @fg;
  separatorcolor: @grey0;

  normal-background: @background;
  normal-foreground: @foreground;
  alternate-normal-background: @background;
  alternate-normal-foreground: @foreground;
  selected-normal-background: @lightbg;
  selected-normal-foreground: @foreground;

  active-background:           @yellow;
  active-foreground:           @background;
  alternate-active-background: @active-background;
  alternate-active-foreground: @active-foreground;
  selected-active-background:  @yellow;
  selected-active-foreground:  @active-foreground;

  urgent-background:           @red;
  urgent-foreground:           @background;
  alternate-urgent-background: @urgent-background;
  alternate-urgent-foreground: @urgent-foreground;
  selected-urgent-background:  @red;
  selected-urgent-foreground:  @urgent-foreground;
}

