zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
zsh/.config/zsh/plugins/

*.log
tmux-*.log

hypr/.config/hypr/modules/decorations/current.lua
hypr/.config/hypr/modules/decorations/glass-current.lua
