configuration {
  display-drun: "    Apps";
  drun-display-format: "{icon} {name}";
  font: "IosevkaTerm Propo Nerd Font 12";
  show-icons: true;
  modi: "window,run,drun";
}
@theme "~/.config/rofi/themes/gruvbox-dark-soft.rasi"

