@theme "colors/colors.rasi"

configuration {
  display-drun: "Select Application";
  drun-display-format: "{icon} {name}";
  font: "IosevkaTerm Propo Nerd Font 12";
  show-icons: true;
  modi: "window,run,drun";
}
