@import url('colors/colors.css');

/* ===== GLOBAL ===== */
* {
  padding: 0;
  min-height: 0;
  margin: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  font-family: 'SF Pro Display', 'JetBrainsMono Nerd Font Propo';
  font-size: 16px;
  font-weight: 700;
  color: @fg;
}

.modules-center {
  padding: 4px;
  border-radius: 24px;
  background: @bg0;
}

/* ===== COMMON MODULE STYLE ===== */
#window,
#pulseaudio,
#pulseaudio.muted,
#network,
#clock {
  color: @fg;
  background: @bg0;
  padding: 0 4px;
  margin: 0 6px;
}

/* ===== WORKSPACES ===== */

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

#workspaces button {
  color: @bg3;
  margin: 0px 4px;
  padding: 0px 6px;
  transition: all 0.3s ease-in-out;
  border-radius: 24px;
  font-weight: 600;
}

#workspaces button:hover {
  color: @fg;
  background: @bg1;
}

#workspaces button.active {
  color: @bg0;
  background: linear-gradient(135deg, @gradient0 30%, @gradient1 65%);
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  color: @bg0;
  background: @red;
}

#pulseaudio,
#pulseaudio.bluetooth {
  color: @yellow;
}

#network {
  color: @purple;
}
