/* ===== COLORS ===== */
@define-color bg #141617;
@define-color bg-alt #333333;
@define-color bg-tray #383838;

@define-color fg #ebdbb2;
@define-color fg-soft #fff4d2;

@define-color border #585858;
@define-color gray #555555;

@define-color black #000000;

@define-color blue #83a598;
@define-color blue-dark #458588;

@define-color pink #d3869b;
@define-color pink-dark #b26286;

@define-color green #a9b665;
@define-color green-dark #689d68;

@define-color red #ea6962;
@define-color red-dark #cc241d;
@define-color red-critical #b22222;

@define-color aqua #89b482;

@define-color orange #e78a4e;

/* ===== GLOBAL ===== */
* {
  padding: 0;
  min-height: 0;
  margin: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  border-radius: 0;
}

window#waybar {
  border-radius: 0px;
  margin: 0;
  background: @bg;
  font-family: IosevkaTerm Nerd Font Propo;
  font-size: 12pt;
  font-weight: 600;
  color: @fg;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
}

/* ===== COMMON MODULE STYLE ===== */
#window,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  color: @fg-soft;
  padding-right: 4.5pt;
}

/* ===== WORKSPACES ===== */
#workspaces button {
  color: @fg-soft;
  min-width: 15pt;
  margin-right: 3pt;
  padding: 0pt 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @bg;
  background: @green;
  border-color: @green-dark;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @black;
  background: @orange;
}

#workspaces button.urgent {
  color: @bg;
  border-color: @red-dark;
  background: @red;
}

/* ===== SPECIAL STATES ===== */

/* ===== MODE ===== */
#mode,
#submap {
  color: @black;
  background: @blue;
}
