@theme "colors/colors.rasi"

configuration {
  display-drun: "Select Application";
  drun-display-format: "{icon} {name}";
  font: "IosevkaTerm Propo Nerd Font 12";
  show-icons: true;
  icon-theme: "Papirus";
  modi: "window,run,drun";
}

window {
    location: center;
    anchor: center;
    fullscreen: false;
    width: 600px;
    x-offset: 0px;
    y-offset: 0px;
    margin: 0px;
    background-color: @bg0;
    border: 0px;
    border-radius: 30px;
    padding: 0px;
}

mainbox {
    spacing: 10px;
    padding: 20px;
    background-color: transparent;
}

message {
    border: 0px;
    padding: 10px;
    margin: 0px;
    border-color: @green;
    text-color: @fg;
}

textbox {
    highlight: @bg0;
    text-color: inherit;
}

listview {
    spacing: 8px;
    margin: 0px;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
    scrollbar: false;
    background-color: transparent;
    lines: 3;
    columns: 4;
    cycle: true;
    dynamic: true;
    layout: vertical;
    cursor: "default";
    fixed-height: false;
    fixed-columns: false;
    reverse: false;
}

element {
    border:  0px;
    padding: 12px;
    background-color: transparent;
    margin: 2px;
    border-radius: 12px;
    text-color: @fg;
    cursor: pointer;
    orientation: vertical;
}

element-icon {
  size: 3em;
  horizontal-align: 0.5;
}

element selected {
    text-color: @green;
    border-radius: 12px;
    background-color: @bg2;
}

scrollbar {
    border:       0;
    handle-color: @bg0;
    handle-width: 0;
    padding:      0;
}

mode-switcher {
    enabled: false;
    border-color: @bg0;
}

inputbar {
    background-color: transparent; 
    spacing: 0;
    padding: 12px;
    border-radius: 12px;
    border-color: @green;
    border: 1px;
    children:   [ prompt, entry, case-indicator ];
}

case-indicator {
    background-color: transparent;
}

entry {
    text-color: @fg;
    padding: 0px 0px 0px 8px;
    border: 0px;
    border-radius: 0px;
    placeholder: "";
    background-color: transparent;
    cursor: text;
    vertical-align: 0.5;
}

prompt {
    text-color: @green;
    background-color: transparent;
    border-radius: 24px;
    border: 0px;
    vertical-align: 0.5;
}

element-text, element-icon {
    background-color: transparent;
    text-color: @fg;
    cursor: inherit;
    horizontal-align: 0.5;
}

element-text selected {
    text-color: @green;
}

element-text {
    horizontal-align: 0.5;
}


